body {
    margin: 0;
    overflow: hidden;
}

#scheduler {
    width:100vw;
    height: 100vh;
}

#scheduler .jqx-scheduler-time-view, .jqx-scheduler-time-column, jqx-disableselect {
    /* Adjust the height of the row where the day of the month is displayed */
    height: 20px;
}
